.ExternalLink {
  width: 140px;
  padding: 8px 12px;
  border-radius: 8px;
  text-decoration: none;
  text-align: center;
}

.ExternalLink:hover {
  background-color: #8fd4e0;
  color: #123940;
  font-weight: bold;
  text-decoration: none !important;
}

.ExternalLink-selected {
  background-color: #8fd4e0;
  color: #123940;
  font-weight: bold;
  text-decoration: none !important;
}
